.courseheader{
    display: flex;
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 0;
}
.courseheader h1{
    font-size: 18px;
    padding: 10px;
    vertical-align: middle;
}


.chartcontainer{
    border: none;
    border-radius: 10px;
    background-color: white;
    height:44vh;
    margin-top: 20px;
    border-bottom: 10px solid #FF6C24;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    padding-bottom: 0px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.171);
}

.chartcontainer img{
    outline: none;
    border: none;
    width: 100%;
}

.chartcontainer h3{
    font-size: 16px;
    font-family: Mulish;
    padding-left: 20px;
}


.courseheader h3{
    font-size: 14px;
}

.courseheader img{
    outline: none;
    border: none;
}

.courseLogo{
    width: auto;
    height: 40px;
    margin: none;
}

.courseanalytics{
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 
    'chart alerts'
    'studenttable pinned';
    margin-right: 20px;
}

.chart hr{
    border-top: 0.5px solid rgb(168, 168, 168);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 10px;
    margin-right: 50px;
}

.backbutton{
    color: white;
    background-color:#FF6C24;
    padding: 10px 40px;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    margin-left: none;
}

.backbutton:hover{
    transition: 0.2s ease-in;
    cursor: pointer;
    background-color:#ff7e3d;
}

.studenttable{
    grid-area: studenttable;
}
.alert{
    grid-area: alerts;
}
.chart{
    grid-area: chart;
}
.pinned{
    grid-area: pinned;
}
