.dashboard{
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: 
    'sectionlist alerts'
    'chart pinned';
    margin-right: 20px;
}

.sectionlist{
    grid-area: sectionlist;
}
.alert{
    grid-area: alerts;
}
.chart{
    grid-area: chart;
}
.pinned{
    grid-area: pinned;
}

.courselist{
    font-size: 14px;
    padding: 15px 35px;
    margin: 10px;
    margin-top: 0px;
    margin-right: 0;
    border: 2px solid #FF6C24;
    border-radius: 50px;
    color: black;
    font-weight: 700;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.219);
}

.courselist:hover{
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: #FF6C24;
    color: white;
}

.dashheader{
    display: flex;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 0;
}
.sectionselect{
    padding: 2px;
}

.dashheader h1, .sectionselect h1{
    font-size: 18px;
    padding: 10px;
    vertical-align: middle;
}

.sectionselect h4{
    font-size: 16px;
    font-weight: 300;
    padding:10px;
}

.sectionselect hr{
        border-top: 0.5px solid rgb(168, 168, 168);
        border-bottom: 0px;
        border-left: 0px;
        border-right: 0px;
        margin: 10px;
        margin-right: 50px;
}
.dashheader h2, .sectionselect h2{
    font-size: 14px;
    padding: 10px;
    padding-top: 0px;
    font-weight: 300;
}

.dashheader h3{
    font-size: 14px;
}

.dashheader img{
    outline: none;
    border: none;
}

.dashLogo{
    width: auto;
    height: 40px;
    margin: none;
}
