.navbar{
    display: flex;
    height: 50px;
    background-color: white;
}

.imagediv{
    margin-left: 0%;
}

.imagediv img{
    outline: none;
    width: 100%;
    border: none;
}

.ritLogo{
    width: auto;
    height: contain;
    margin: none;
    padding: 10px;
    padding-left: 30px;
}

.verticalLine{
    background-color: black;
    width: .5px;
    height: 30px;
    margin: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar h1{
    font: 16px Mulish;
    padding: 10px;
    padding-top:15px;
    font-weight: bold;
}

.navbar #line{
    font-size: 24px;
}

.buttomline{
    height: .2em;
    width: 100%;
    background-color:#F76902;
}

.navbar button{
    background-color: white;
    color: black;
    border: 2px solid #F76902;
    text-decoration: none;
    padding: 0px 20px;
    border-radius: 50px;
    vertical-align: middle;
    margin:5px;
    margin-left: 62%;
    transition-duration: 0.4s;
}

.navbar button:hover {
    background-color: #F76902;
    color: white;
}