
.container{
    width: auto;
    height: 40vh;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2.5px 2.5px 2.5px rgb(219, 219, 219);
    border-bottom: 10px solid #E75C18;
}

.title{
    display: flex;
}

.titletext{
    color: #E75C18;
    margin-left: 2%;
    margin-bottom: 5%;
}

.table{
    width: 100%;
}

.tablerow:nth-child(odd){
    background: #F9F4F0;
}

.tablerow{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
}


.deleteicon {
    cursor: pointer;
}
