.studentheader{
    display: flex;
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 0;
}
.studentheader h1{
    font-size: 18px;
    padding: 10px;
    vertical-align: middle;
}

.studentheader h3{
    font-size: 14px;
}

.studentheader img{
    outline: none;
    border: none;
}

.courseLogo{
    width: auto;
    height: 40px;
    margin: none;
}

.courseanalytics{
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    'chart loginhistory';
    margin-right: 10px;
}
.chart hr{
    border-top: 0.5px solid rgb(168, 168, 168);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 10px;
    margin-right: 40px;
}

.loginhistory{
    grid-area: loginhistory;
}
.alert{
    grid-area: alerts;
}
.chart{
    grid-area: chart;
    height: 200px;
}
.pinned{
    grid-area: pinned;
}
