

.container{
    width: auto;
    height: 40vh;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 10px solid #E75C18;
    box-shadow: 0 2.5px 2.5px 2.5px rgb(219, 219, 219);

}

.title{
    display: flex;
    color: #E75C18;
    margin-left: 2%;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    border-bottom: 1px solid orange;
}

.title h3{
    margin-left: 3%;
    padding-bottom: 10px;
    font-size: 16px;
}

.table{
    margin-top: 1px;
    width:100% ;
    height: 35vh;
    display: block;
    overflow-y: scroll;
    border-collapse: collapse;
}

.tablerows:nth-child(even) {
    background: #F9F4F0;
}

.tablerows h2{
    font-size: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 700;
}

.table td, .table tr{
    width: stretch;
}

.tablerows h3{
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 400;
}

.tablerows h4{
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 400;
}

.description p{
    font-size: 14px;
}